//----Colors

//--Primary Colors
$primary-color: #0560FC;
$secondary-color: #EDF8FF;

//----End Colors

@mixin display-flex($horizontally, $vertically){
    display: flex;
    justify-content: $horizontally;
    align-items: $vertically;
}

section{
    padding: 60px 0;
}
.container{
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}
.section-headline {
    font-size: 58px;
    text-align: center;
    margin: 0 0 40px 0;
}
.gradient{
    background: rgb(7,162,255);
    background: linear-gradient(90deg, rgba(7,162,255,1) 0%, rgba(18,91,252,1) 50%, rgba(168,42,254,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}
.button{
    @include display-flex(center, center);
    font-size: 16px;
    // height: 38px;
    padding: 10px 16px;
    font-weight: normal;
    color: #29384b;
    transition: all .2s ease;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    width: auto;
    font-family: 'Mulish', sans-serif;
    gap: 0 10px;
}


.secondary-btn{
    background-color: $secondary-color;   
    transition: all .2s ease;
    color: $primary-color;
    
    &:hover{
        background: #D6EDFF;
    }
}

.primary-btn{
    background-color: $primary-color;
    color: #fff;
    transition: all .2s ease;

    &:hover{
        background: #0A49C3;
    }
}

.xl-btn{padding: 16px 28px; font-size: 18px; border-radius: 5px;}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header#header{
    transition: all .1s ease-in-out;
    padding: 0px 20px;
    background: #fff;
    position: fixed;
    // top: 42px;
    left: 0; right: 0;
    z-index: 999999;
    margin: 0 auto;
    max-width: 2560px;
    @include display-flex(space-between,center);

    .container{
        width: 1320px;
        min-width: 1320px;
        max-width: 1320px;
        @include display-flex(space-between,center);
    }
    
    .left-wrapper{
        @include display-flex(space-between,center);
        gap: 0 40px;
    }

    .nav-links{
        ul{
            margin: 0;
            padding: 0;
            @include display-flex(center, center);
            // gap: 0 10px;
            li {
                list-style: none;
              }
              
              li a {
                padding: 22px 10px;
                color: #29384b;
                text-decoration: none;
                font-size: 16px;
                @include display-flex(center, center);
                gap: 0 5px;
                position: relative;
                overflow: hidden;

                img{
                    margin-left: 5px;
                }
              
                &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 0;
                  height: 3px;
                  background-color: $primary-color;
                  transition: width 0.3s ease;
                }
              
                &:hover:before {
                  width: 100%; 
                }
              }
              
              li.active a:before {
                width: 100%; 
              }
              
              li.active a {
                color: $primary-color; 
              }
        }
    }

    .nav-buttons{
        @include display-flex(center, center);
        gap: 0 10px;
        
    }
}

/* Hero Section */

section.hero-section{
    background: url("https://static.helpjuice.com/helpjuice_production/uploads/upload/image/14992/3534236/1696497390418-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0 60px 0;
    .container{
        @include display-flex(center, center);
        flex-direction: column;
        position: relative;
        padding-top: 40px;
    }
    .hero-wrapper{
        @include display-flex(center, center);
        flex-direction: column;
    }
    p{
        font-size: 18px;
        font-weight: 600;
        width: 800px;
        margin: 10px 0 0 0;
        opacity: 1;
        line-height: 1.5;
        color: #626262;
        text-align: center;
    }
    .highlighted-text{
        font-size: 18px;
        background: linear-gradient(-90deg, #fee5da 0%, #fff5ca 100%);
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
    }
    h1{
        font-size: 58px;
        font-family: 'Mulish', sans-serif;
        text-align: center;
        margin: 10px 0 10px 0;
        font-weight: bold;

        span{
            font-weight: 800;
        }
    }
    .check-examples{
        position: absolute;
        top: 36%;
        left: 110px;

        img{
            width: 190px;
        }
}
    }
.hero-tutorial{
    position: absolute;
    right: -60px;
    font-size: 24px;
    bottom: 60%;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    .text-img{
        top: -60px;
        right: -100px;
        position: absolute;
    }
    .arrow-img{
        transform: scaleX(-1);
        top: -40px;
        width: 70px;
        position: absolute;
        right: 105px;
    }
}
    
    .start-14-day-btn{
    margin-top: 30px;
    } 

iframe{
    border-radius: 0 0 15px 15px;
    width: 980px;
    height: 500px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc #f5f5f5; /* For Firefox */

    &::-webkit-scrollbar{
        width: 8px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
    }

    &::-webkit-scrollbar-track{
        background-color: #f5f5f5;
    }
}
.febe-wrapper{
    display: none !important;
    position: absolute;
    right: -100px;
    top: 420px;
    background: #F9F9F9;
    border-radius: 80px;
    border: 1.13px solid #F2F2F2;
    padding: 10px;
    gap: 20px;
    @include display-flex(center, center);
    flex-direction: column;

    span{
        background-color: #F0F0F0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include display-flex(center, center);
        
        img{
            opacity: .2;
        }
        transition: all .3s ease;
        &:hover{
            background: #252A2F;
        }
    }

    .kb-btn-active{
        background: $primary-color;
        img{
            filter: invert(1);
            opacity: 1;
        }
    }
}

section.companies{
    .container{
        overflow: hidden;
        h3{
            text-align: center;
            font-size: 24px;
            font-family: 'Mulish', sans-serif;
            margin: 0 0 20px 0;
        }

        .companies-wrapper{
            @include display-flex(center, center);
            gap: 0 40px;
            
        }
    }
}

section.cta-section{
    background: #F8F8F8;
    .container{
        @include display-flex(center, center);
        flex-direction: column;

        h2{
            font-size: 58px;
            text-align: center;
            margin: 0 0 20px 0;
        }
        p{
            font-size: 18px;
            margin: 0;
        }

        .button{
            margin: 30px 0;
        }
        .awards{
            @include display-flex(center, center);
            gap: 0 20px;

            ul{
                @include display-flex(center, center); 
                gap: 0 40px;
                li{
                    list-style: none;
                }
            }
        }
    }
}

footer{
    background-color: #101828;
    padding: 60px 0;

    .container{
        @include display-flex(center, center);
        flex-direction: column;
        gap: 48px 0;
        .row{
            @include display-flex(space-between, flex-start);
            width: 100%;
            padding: 48px 0 0 0;
            
            p{
                color: #98A2B3;
                font-size: 16px;
            }
            .w9-link{
                color: #fff;
            }
        }
        .f-row{
            .col{
                .main-ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li{
                        color: #98A2B3;
                        font-size: 16px;
                        font-family: 'Mulish', sans-serif;
                    }

                    .links-ul{
                        padding: 0;
                        li{
                            margin: 12px 0;
                            list-style: none;
                            a{
                                color: #fff;
                                padding: 0;
                                margin: 0;
                                text-decoration: none;
                                font-family: 'Mulish', sans-serif;
                                transition: all .3s ease;
                                border-bottom: 1px solid transparent;
                                &:hover{
                                    border-bottom: 1px solid #fff;

                                }
                                
                            }
                        }
                    }
                    .new{
                        font-size: 12px;
                        background: rgba(255,255,255,.2);
                        border: 1px solid rgba(255,255,255,0.3);
                        padding: 2px 8px;
                        color: #fff;
                        border-radius: 16px;
                    }
                }
            }
        }
        .s-row{
            border-top: 1px solid #192232;
            .col{
                .faq{
                    h4{
                        color: #fff;
                        font-size: 18px;
                        font-family: 'Mulish', sans-serif;
                        // font-weight: bold;
                        margin: 0;
                    }
                    p{
                        margin: 16px 0 0 0;
                        font-size: 16px;
                        line-height: 24px;
                        font-family: 'Mulish', sans-serif;
                    }
                }
            }
        }
        .t-row{
            border-top: 1px solid #192232;
            @include display-flex(space-between, center);
            .col{
                @include display-flex(space-between, center);
                a{
                    color: #98A2B3;
                }
                
                .socials-footer{
                    @include display-flex(center, center);
                    margin-left: 24px;
                    gap: 0 10px;

                    img{
                        transition: all .3s ease;

                        &:hover{
                            filter: brightness(1.5);    
                        }
                    }
                }
            }
        }
    }
}



section.hj-features{
    // background: url("https://static.helpjuice.com/helpjuice_production/uploads/upload/image/14992/3522096/1696235176922-feature-bg.png");
    background: #F8F8F8;
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        max-width: 1440px;
        padding-bottom: 40px;
        h2{
            margin-bottom: 10px;
            color: #000000;
        }
        p{
            color: #000000;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            width: 500px;
            opacity: .8;
            font-family: 'Mulish', sans-serif;
        }

        .features-wrapper{
            @include display-flex(center, center);
            flex-direction: column;
            margin-top: 40px;
        }
        /* TABS */
        .tabs-container{
            @include display-flex(space-between, flex-start);
            flex-direction: column;
            gap: 20px 0;
            margin-top: 20px;

            .tab{
                width: 270px;
                border-radius: 10px;
                border: 2px solid #E6e6e6;
                padding: 20px 25px;
                cursor: pointer;
                transition: all .2s ease;
                .tab-header{
                    @include display-flex(flex-start, center);
                    gap: 0 10px;
                    color: #000;
                    margin-bottom: 10px;
                    font-family: 'Mulish', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                }
                .tab-description{
                    color: #000;
                    font-size: 16px;
                    opacity: .8;
                    font-weight: 600;
                    font-family: 'Mulish', sans-serif;
                }
                
                &:hover {
                    background-color: #ffffff;
                    // background: #27395e;
                    // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
                    border: 2px solid #dfdfdf; /* Make border transparent on hover */
                }
                
                
            }
            .active{
                // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
                border: 2px solid $primary-color;
                // border-image: linear-gradient(90deg, rgba(7,162,255,1) 0%, rgba(18,91,252,1) 50%, rgba(168,42,254,1) 100%);
                // border-image-slice: 1;
                border-radius: 10px !important;
                
            }
        }

        .content-container{
            margin-top: 30px;
            @include display-flex(space-between, flex-start);
            #tab-image{
                width: 100%;
                border-radius: 10px;
            }
            .tab-content{
                width: 100%;
                
            }
        }
    }
}



.accordion{
    margin-bottom: 20px;
    border-radius: 10px;
    width: 350px;

    .accordion-header{
        cursor: pointer;
        border-radius: 10px;
        padding: 20px;
        @include display-flex(flex-start, center);
        gap: 0 20px;
        background-color: #fff;
        font-size: 18px;
        font-family: 'Mulish', sans-serif;
        color: rgba(0, 0, 0, 0.6);
        transition: all .3s ease;

        &:hover{
            background-color: #fdfdfd;
            color: rgba(0, 0, 0, 1);
        }
    }

    .accordion-body{
        background: #fff;
        padding: 10px 20px;
        margin-top: -5px;
        border-radius: 0 0 10px 10px;
        font-size: 16px;
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5)
    }
}

.illustration{
    position: absolute;
    width: 250px;
    z-index: -1;
    opacity: .6;
    top: 60%;
}
.illustration-left{
    left: -240px;
    width: 350px;
}
.kb-live{
    margin-top: 50px;
    border-radius: 15px;
    width: 100%;
    background: #fff;
    border: 3px solid #F2F2F2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



.slider-container {
    display: flex;
    align-items: center;
  }
  
  .iframe-wrapper {
    display: flex;
    overflow-x: hidden;
  }
  
  iframe {
    width: 100%;
    min-width: 100%;
    border: none;
    
  }

  .slider-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
  }
  

  /* Vaš postojeći CSS */

/* Stil za prikazivanje iframe-ova sa strane */
.iframe-container {
    display: flex;
    justify-content: space-between;
    // margin-top: 40px;
  }
  
  .image-kb {
    width: 290px;
    height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Dodatni stil za prikazivanje strelica */
  #chev-left, #chev-right {
    cursor: pointer;
  }
.text{

    a{
        color: #fff;
        text-decoration: none;
    
        &:hover{
            color: #fff;
        }
    }
    
}  

.chevron{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        opacity: 1;
        border-radius: 50px;
        background: #24282D;
    }
}
#chev-left{
    padding-right: 3px;
}

.tab-wrapper{
    display: flex;
    gap: 0 20px;
}
.tab{
    filter: grayscale(100%);
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    opacity: .4;
    transition: all .3s ease;
    cursor: pointer;
    color: #0560FC;
    border-radius: 10px;
    border: 2px solid #0560FC;
    background: #D8F3FF;
    
    &:hover{
        opacity: 1;
        filter: grayscale(40%);

    }
}

.tab-active{
    filter: grayscale(0%);
    opacity: 1;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: grab;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: grab;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    cursor: grab;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: #dddddd;
  }
  .slider-container::-webkit-scrollbar-thumb:hover {
    cursor: grab;
  }
  
.slider-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
}

/* Grabbing cursor for the slider-container */
.slider-container:active {
    cursor: grabbing;
}
  
  .slider-wrapper {
    display: flex; /* Display testimonials in a row */
    padding-bottom: 25px;
  }
  
  .grab-img{
    width: 200px;
    left: -90px;
    position: absolute;
    top: 90px;
    transform: rotate(-15deg);
    
  }
.testimonial{
    flex: 0 0 300px;
    border: 1px solid #D0D5DD;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    background: #fff;
    width: 380px;
    height: 370px;
    border-radius: 12px;
    white-space: normal;
}
.last-testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #D0D5DD;
}
.last-testimonial p{
    font-size: 22px;
    text-align: center;
    margin: 0;
}
.upper-testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px 0;
}

.testimonial-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D0D5DD;
}
.author-name{
    font-weight: bold;
}
.avatar{
    width: 48px;
}

.testimonial-message{
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

.lower-testimonial{
    padding-top: 16px;
    border-top: 1px solid #D0D5DD;
    width: 100%;
}
.stats-precent{
    font-weight: bold;
    font-size: 48px;
}
.stats-message{
    font-size: 15px;
    font-weight: 600;
}

section.faq-section{
    background: #F8F8F8;
    h2{
        margin-bottom: 10px;
    }
    p{
        margin: 0;
    }

    .faq-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;

        .faqs{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }

}
.faq-section{
    p{
        text-align: center;
    }
    .faq-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 0 60px;
        img{
            width: 450px;
        }

        .faqs{
            .accordion{
                width: 100%;

                .accordion-item{
                    border-radius: 5px;
                    background: #fff;
                    border: 3px solid #000;
                
                    .accordion-question{
                        background-color: #fff;
                        p{
                            font-weight: 700;
                            font-size: 18px;
                        }
                        img{
                            width: 20px;
                        }
                    }
                    .accordion-answer{
                        transition: all .3s ease;
                        p{
                            text-align: left;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    } 
    
}
.hj-clients {
    // max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        width: 100%;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        margin: 0;
    }
    .companies-list{
        margin-top: 30px;
        display: grid;
        grid-gap: 2px;
        padding:0;
        grid-template-columns: repeat(5, 1fr);
        
        li{
            list-style: none;
            padding: 20px 30px;
            border: 1px solid #f3f5f8;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-height: 40px !important;
            }
        }
        li:first-child{
            padding-top: 35px;
            img{
                max-height: 40px !important;
            }
        }
    }
}

.subtitle{
    text-align: center;
}


  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordion-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .accordion-question p {
    margin: 0;
  }
  
  .arrow {
    transition: transform 0.3s;
  }
  
  .accordion-answer {
    padding: 10px;
    display: none;
  }
  
  .accordion-item.open .arrow {
    transform: rotate(180deg);
  }
  
  .accordion-item.open .accordion-answer {
    display: block;
  }
///////////////////////////////////////////
/// /* TOOLBAR */
.browser-toolbar,
.browser-toolbar * {
  box-sizing: border-box;
}
.browser-toolbar {
  background: #191c1f;
  border-radius: 12px 12px 0px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08);
  border-width: 0px 0px 1px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
}
.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: calc(50% - 6px);
}
.close {
  background: #ee6a5f;
  border-radius: 50%;
  border-style: solid;
  border-color: #ce5347;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgba(236, 109, 98, 1);
}
.maximise {
  background: #f5bd4f;
  border-radius: 50%;
  border-style: solid;
  border-color: #d6a243;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgba(245, 196, 81, 1);
}
.minimise {
  background: #61c454;
  border-radius: 50%;
  border-style: solid;
  border-color: #58a942;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgba(104, 204, 88, 1);
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 130px;
  top: calc(50% - 17px);
  overflow: hidden;
}
.button {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button2 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button3 {
  border-radius: 6px;
  position: absolute;
  left: 87.5px;
  top: 12px;
  overflow: visible;
}
.button4 {
  border-radius: 6px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 14px);
  overflow: visible;
}
.search-input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 516px;
  height: 28px;
  position: absolute;
  left: calc(50% - 258px);
  top: calc(50% - 14px);
}
.text-and-lock-icon {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 95px);
  top: calc(50% - 10px);
  overflow: hidden;
}
.lock {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.text {
  color: var(--base-white, #ffffff);
  text-align: left;
  font-family: 'Mulish', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.refresh {
  position: absolute;
  left: 494px;
  top: 6px;
  overflow: visible;
}
.right-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 12px;
  overflow: hidden;
}
.front-end-back-end{
    color: #fff;
    margin-top: 3px;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
        text-decoration: underline;
    }
}
.front-end-back-end {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.front-end-back-end-span {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Mulish', sans-serif;
}
.front-end-back-end-span2 {
    cursor: pointer;

  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mulish', sans-serif;
}
.kb-btn-active{
    color: #fff
}
.button5 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button6 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button7 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button8 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
