@charset "UTF-8";
section {
  padding: 60px 0;
}

.container {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}

.section-headline {
  font-size: 58px;
  text-align: center;
  margin: 0 0 40px 0;
}

.gradient {
  background: rgb(7, 162, 255);
  background: linear-gradient(90deg, rgb(7, 162, 255) 0%, rgb(18, 91, 252) 50%, rgb(168, 42, 254) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px 16px;
  font-weight: normal;
  color: #29384b;
  transition: all 0.2s ease;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  width: auto;
  font-family: "Mulish", sans-serif;
  gap: 0 10px;
}

.secondary-btn {
  background-color: #EDF8FF;
  transition: all 0.2s ease;
  color: #0560FC;
}
.secondary-btn:hover {
  background: #D6EDFF;
}

.primary-btn {
  background-color: #0560FC;
  color: #fff;
  transition: all 0.2s ease;
}
.primary-btn:hover {
  background: #0A49C3;
}

.xl-btn {
  padding: 16px 28px;
  font-size: 18px;
  border-radius: 5px;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header#header {
  transition: all 0.1s ease-in-out;
  padding: 0px 20px;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999999;
  margin: 0 auto;
  max-width: 2560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header .container {
  width: 1320px;
  min-width: 1320px;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header .left-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
header#header .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header#header .nav-links ul li {
  list-style: none;
}
header#header .nav-links ul li a {
  padding: 22px 10px;
  color: #29384b;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  position: relative;
  overflow: hidden;
}
header#header .nav-links ul li a img {
  margin-left: 5px;
}
header#header .nav-links ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #0560FC;
  transition: width 0.3s ease;
}
header#header .nav-links ul li a:hover:before {
  width: 100%;
}
header#header .nav-links ul li.active a:before {
  width: 100%;
}
header#header .nav-links ul li.active a {
  color: #0560FC;
}
header#header .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

/* Hero Section */
section.hero-section {
  background: url("https://static.helpjuice.com/helpjuice_production/uploads/upload/image/14992/3534236/1696497390418-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0 60px 0;
}
section.hero-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
}
section.hero-section .hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.hero-section p {
  font-size: 18px;
  font-weight: 600;
  width: 800px;
  margin: 10px 0 0 0;
  opacity: 1;
  line-height: 1.5;
  color: #626262;
  text-align: center;
}
section.hero-section .highlighted-text {
  font-size: 18px;
  background: linear-gradient(-90deg, #fee5da 0%, #fff5ca 100%);
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}
section.hero-section h1 {
  font-size: 58px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
}
section.hero-section h1 span {
  font-weight: 800;
}
section.hero-section .check-examples {
  position: absolute;
  top: 36%;
  left: 110px;
}
section.hero-section .check-examples img {
  width: 190px;
}

.hero-tutorial {
  position: absolute;
  right: -60px;
  font-size: 24px;
  bottom: 60%;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}
.hero-tutorial .text-img {
  top: -60px;
  right: -100px;
  position: absolute;
}
.hero-tutorial .arrow-img {
  transform: scaleX(-1);
  top: -40px;
  width: 70px;
  position: absolute;
  right: 105px;
}

.start-14-day-btn {
  margin-top: 30px;
}

iframe {
  border-radius: 0 0 15px 15px;
  width: 980px;
  height: 500px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ccc #f5f5f5; /* For Firefox */
}
iframe::-webkit-scrollbar {
  width: 8px;
}
iframe::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
iframe::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.febe-wrapper {
  display: none !important;
  position: absolute;
  right: -100px;
  top: 420px;
  background: #F9F9F9;
  border-radius: 80px;
  border: 1.13px solid #F2F2F2;
  padding: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.febe-wrapper span {
  background-color: #F0F0F0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.febe-wrapper span img {
  opacity: 0.2;
}
.febe-wrapper span:hover {
  background: #252A2F;
}
.febe-wrapper .kb-btn-active {
  background: #0560FC;
}
.febe-wrapper .kb-btn-active img {
  filter: invert(1);
  opacity: 1;
}

section.companies .container {
  overflow: hidden;
}
section.companies .container h3 {
  text-align: center;
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  margin: 0 0 20px 0;
}
section.companies .container .companies-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

section.cta-section {
  background: #F8F8F8;
}
section.cta-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.cta-section .container h2 {
  font-size: 58px;
  text-align: center;
  margin: 0 0 20px 0;
}
section.cta-section .container p {
  font-size: 18px;
  margin: 0;
}
section.cta-section .container .button {
  margin: 30px 0;
}
section.cta-section .container .awards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
section.cta-section .container .awards ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
section.cta-section .container .awards ul li {
  list-style: none;
}

footer {
  background-color: #101828;
  padding: 60px 0;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px 0;
}
footer .container .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 48px 0 0 0;
}
footer .container .row p {
  color: #98A2B3;
  font-size: 16px;
}
footer .container .row .w9-link {
  color: #fff;
}
footer .container .f-row .col .main-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .container .f-row .col .main-ul li {
  color: #98A2B3;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}
footer .container .f-row .col .main-ul .links-ul {
  padding: 0;
}
footer .container .f-row .col .main-ul .links-ul li {
  margin: 12px 0;
  list-style: none;
}
footer .container .f-row .col .main-ul .links-ul li a {
  color: #fff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
footer .container .f-row .col .main-ul .links-ul li a:hover {
  border-bottom: 1px solid #fff;
}
footer .container .f-row .col .main-ul .new {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px 8px;
  color: #fff;
  border-radius: 16px;
}
footer .container .s-row {
  border-top: 1px solid #192232;
}
footer .container .s-row .col .faq h4 {
  color: #fff;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  margin: 0;
}
footer .container .s-row .col .faq p {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Mulish", sans-serif;
}
footer .container .t-row {
  border-top: 1px solid #192232;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .t-row .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .t-row .col a {
  color: #98A2B3;
}
footer .container .t-row .col .socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  gap: 0 10px;
}
footer .container .t-row .col .socials-footer img {
  transition: all 0.3s ease;
}
footer .container .t-row .col .socials-footer img:hover {
  filter: brightness(1.5);
}

section.hj-features {
  background: #F8F8F8;
  background-size: cover;
  background-repeat: no-repeat;
}
section.hj-features .container {
  max-width: 1440px;
  padding-bottom: 40px;
  /* TABS */
}
section.hj-features .container h2 {
  margin-bottom: 10px;
  color: #000000;
}
section.hj-features .container p {
  color: #000000;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  opacity: 0.8;
  font-family: "Mulish", sans-serif;
}
section.hj-features .container .features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
section.hj-features .container .tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px 0;
  margin-top: 20px;
}
section.hj-features .container .tabs-container .tab {
  width: 270px;
  border-radius: 10px;
  border: 2px solid #E6e6e6;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}
section.hj-features .container .tabs-container .tab .tab-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  color: #000;
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
section.hj-features .container .tabs-container .tab .tab-description {
  color: #000;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}
section.hj-features .container .tabs-container .tab:hover {
  background-color: #ffffff;
  border: 2px solid #dfdfdf; /* Make border transparent on hover */
}
section.hj-features .container .tabs-container .active {
  border: 2px solid #0560FC;
  border-radius: 10px !important;
}
section.hj-features .container .content-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
section.hj-features .container .content-container #tab-image {
  width: 100%;
  border-radius: 10px;
}
section.hj-features .container .content-container .tab-content {
  width: 100%;
}

.accordion {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 350px;
}
.accordion .accordion-header {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;
  background-color: #fff;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}
.accordion .accordion-header:hover {
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
}
.accordion .accordion-body {
  background: #fff;
  padding: 10px 20px;
  margin-top: -5px;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.illustration {
  position: absolute;
  width: 250px;
  z-index: -1;
  opacity: 0.6;
  top: 60%;
}

.illustration-left {
  left: -240px;
  width: 350px;
}

.kb-live {
  margin-top: 50px;
  border-radius: 15px;
  width: 100%;
  background: #fff;
  border: 3px solid #F2F2F2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.slider-container {
  display: flex;
  align-items: center;
}

.iframe-wrapper {
  display: flex;
  overflow-x: hidden;
}

iframe {
  width: 100%;
  min-width: 100%;
  border: none;
}

.slider-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
}

/* Vaš postojeći CSS */
/* Stil za prikazivanje iframe-ova sa strane */
.iframe-container {
  display: flex;
  justify-content: space-between;
}

.image-kb {
  width: 290px;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Dodatni stil za prikazivanje strelica */
#chev-left, #chev-right {
  cursor: pointer;
}

.text a {
  color: #fff;
  text-decoration: none;
}
.text a:hover {
  color: #fff;
}

.chevron {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.chevron:hover {
  opacity: 1;
  border-radius: 50px;
  background: #24282D;
}

#chev-left {
  padding-right: 3px;
}

.tab-wrapper {
  display: flex;
  gap: 0 20px;
}

.tab {
  filter: grayscale(100%);
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  opacity: 0.4;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #0560FC;
  border-radius: 10px;
  border: 2px solid #0560FC;
  background: #D8F3FF;
}
.tab:hover {
  opacity: 1;
  filter: grayscale(40%);
}

.tab-active {
  filter: grayscale(0%);
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: grab;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: grab;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddddd;
  cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: #dddddd;
}

.slider-container::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.slider-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
}

/* Grabbing cursor for the slider-container */
.slider-container:active {
  cursor: grabbing;
}

.slider-wrapper {
  display: flex; /* Display testimonials in a row */
  padding-bottom: 25px;
}

.grab-img {
  width: 200px;
  left: -90px;
  position: absolute;
  top: 90px;
  transform: rotate(-15deg);
}

.testimonial {
  flex: 0 0 300px;
  border: 1px solid #D0D5DD;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  background: #fff;
  width: 380px;
  height: 370px;
  border-radius: 12px;
  white-space: normal;
}

.last-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #D0D5DD;
}

.last-testimonial p {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.upper-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 0;
}

.testimonial-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D0D5DD;
}

.author-name {
  font-weight: bold;
}

.avatar {
  width: 48px;
}

.testimonial-message {
  font-weight: 600;
  color: #000;
  font-size: 18px;
}

.lower-testimonial {
  padding-top: 16px;
  border-top: 1px solid #D0D5DD;
  width: 100%;
}

.stats-precent {
  font-weight: bold;
  font-size: 48px;
}

.stats-message {
  font-size: 15px;
  font-weight: 600;
}

section.faq-section {
  background: #F8F8F8;
}
section.faq-section h2 {
  margin-bottom: 10px;
}
section.faq-section p {
  margin: 0;
}
section.faq-section .faq-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
section.faq-section .faq-wrapper .faqs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.faq-section p {
  text-align: center;
}
.faq-section .faq-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0 60px;
}
.faq-section .faq-wrapper img {
  width: 450px;
}
.faq-section .faq-wrapper .faqs .accordion {
  width: 100%;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item {
  border-radius: 5px;
  background: #fff;
  border: 3px solid #000;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item .accordion-question {
  background-color: #fff;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item .accordion-question p {
  font-weight: 700;
  font-size: 18px;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item .accordion-question img {
  width: 20px;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item .accordion-answer {
  transition: all 0.3s ease;
}
.faq-section .faq-wrapper .faqs .accordion .accordion-item .accordion-answer p {
  text-align: left;
  font-weight: 600;
}

.hj-clients {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hj-clients h2 {
  width: 100%;
  margin-bottom: 10px;
}
.hj-clients p {
  font-size: 18px;
  margin: 0;
}
.hj-clients .companies-list {
  margin-top: 30px;
  display: grid;
  grid-gap: 2px;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
}
.hj-clients .companies-list li {
  list-style: none;
  padding: 20px 30px;
  border: 1px solid #f3f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hj-clients .companies-list li img {
  max-height: 40px !important;
}
.hj-clients .companies-list li:first-child {
  padding-top: 35px;
}
.hj-clients .companies-list li:first-child img {
  max-height: 40px !important;
}

.subtitle {
  text-align: center;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.accordion-question p {
  margin: 0;
}

.arrow {
  transition: transform 0.3s;
}

.accordion-answer {
  padding: 10px;
  display: none;
}

.accordion-item.open .arrow {
  transform: rotate(180deg);
}

.accordion-item.open .accordion-answer {
  display: block;
}

.browser-toolbar,
.browser-toolbar * {
  box-sizing: border-box;
}

.browser-toolbar {
  background: #191c1f;
  border-radius: 12px 12px 0px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08);
  border-width: 0px 0px 1px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: calc(50% - 6px);
}

.close {
  background: #ee6a5f;
  border-radius: 50%;
  border-style: solid;
  border-color: #ce5347;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgb(236, 109, 98);
}

.maximise {
  background: #f5bd4f;
  border-radius: 50%;
  border-style: solid;
  border-color: #d6a243;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgb(245, 196, 81);
}

.minimise {
  background: #61c454;
  border-radius: 50%;
  border-style: solid;
  border-color: #58a942;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-shadow: inset 0px 0px 6px 0px rgb(104, 204, 88);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 130px;
  top: calc(50% - 17px);
  overflow: hidden;
}

.button {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.button2 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.button3 {
  border-radius: 6px;
  position: absolute;
  left: 87.5px;
  top: 12px;
  overflow: visible;
}

.button4 {
  border-radius: 6px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 14px);
  overflow: visible;
}

.search-input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 516px;
  height: 28px;
  position: absolute;
  left: calc(50% - 258px);
  top: calc(50% - 14px);
}

.text-and-lock-icon {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 95px);
  top: calc(50% - 10px);
  overflow: hidden;
}

.lock {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.text {
  color: var(--base-white, #ffffff);
  text-align: left;
  font-family: "Mulish", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.refresh {
  position: absolute;
  left: 494px;
  top: 6px;
  overflow: visible;
}

.right-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 12px;
  overflow: hidden;
}

.front-end-back-end {
  color: #fff;
  margin-top: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.front-end-back-end:hover {
  text-decoration: underline;
}

.front-end-back-end {
  text-align: left;
  font-family: "Mulish", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.front-end-back-end-span {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Mulish", sans-serif;
}

.front-end-back-end-span2 {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Mulish", sans-serif;
}

.kb-btn-active {
  color: #fff;
}

.button5 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.button6 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.button7 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.button8 {
  border-radius: 6px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}/*# sourceMappingURL=main.css.map */
